.body {
    margin: 0;
    background-color: beige;
}

.upper-panel {
    display: flex;
    height: 60px;
    background: linear-gradient(blue, beige);
    justify-content: flex-end;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.profile:hover{ 
    
}

.test {
    display: none;
}

.ico__img {
    width: 50px;
    height: 50px;
    margin: 10px 5px 0;
}

.profile__name {
    color: white;
    font: normal normal normal 20px/42px inter;
    margin-right: 10px;
}

.main__header {
    display: flex;
    font: normal normal normal 46px/42px Ubuntu;
    height: 60px;
    width: auto;
}

a:first-child {
    color:black;
}

.main {
    min-height: 680px;
    padding: 20px 0 0 5%;
    display: grid;
    grid-template-columns: 70% 20%;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                         "description pages";
}

.main__header { 
    grid-area: header;
}

.img-intro {
    display: block;
    margin: 10px auto 0;
}

.main__info-course {
    grid-area: description;
    display: block;
    font-size: 1.3em;
}

.main__course-pages {
    grid-area: pages;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2em;
    font-weight: bold;
}

.main__info-course:nth-child(odd) {
}

.footer-body {
    margin-top: 15px;
    display: block;
    padding: 10px 0 0 5%;
    background: linear-gradient(beige, #6378ec);
}

.footer-body__content {

}

.main__first-page { 
    display: none;
    grid-area: description;
}

.course-pages__button-page {
    cursor: pointer;
    margin-top: 25px;
    width: 220px;
    /* background-color: black;
    background-color: #71daf5;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px; */
}

.main__second-page {
    display: none;
}

.main__third-page { 
    display: none;
}

.main__fourth-page {
    display: none;
}

.main__fiveth-page {
    display: none;
}

.main__sixth-page {
    display: none;
}

.button-test {
    margin-top: 15px;
    width: 140px;
    height: 40px;
    background-color: #59d979;
    border: 0;
    border-radius: 10px;
}

.block-test {
    width: 140px;
    height: 40px;
    margin: auto auto 20px;
    display: none;
}